{:paths ["devtool"]
 :deps {babashka/fs {:mvn/version "0.2.16"}
        babashka/babashka.pods {:mvn/version "0.2.0"}
        etaoin/etaoin {:mvn/version "1.0.40"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        http-kit/http-kit {:mvn/version "2.6.0"}}
 :aliases {:test-deps {:extra-paths ["test" "test-resources"]
                       :extra-deps {org.clj-commons/hickory {:mvn/version "0.7.3"}
                                    hiccup/hiccup {:mvn/version "2.0.0-alpha2"}}}
           :test {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                                cider/cider-nrepl {:mvn/version,"0.28.5"}}}}}